.complited {
 
  text-decoration:  line-through;
  color:lightgray;
}

.dis{
  text-transform: capitalize;
}

.dis ~ .button {
  display:none;
}
.dis:hover ~ .button, .button:hover{
  display:inline-block;
}
